#scoreboard
{
    width:100%;
    height: 20%;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.score
{
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    font-size: 5cqw;
    margin: 0%;
}
#timers
{
    width:100%;
    height: 6%;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.timer
{
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    font-size: 2cqw;
    margin: 0%;
}
#timerbutton
{
    width: 12%;
    height: 7%;
    right: 0;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 0.8cqw;
    background-color: black;
    border-color: white;
    z-index: 9999;
}
#controlsDiv
{
    width:100%;
    height: 10%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.controls
{
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    font-size: 1cqw;
    margin: 1%;
}

#mainScreen
{
    width:70vw;
    aspect-ratio: 16 / 9; 
    background-color: black;
    position: relative;

    left: 0;
    top: 0;
    border-color: red;
    border-style: solid;
    border-width: 10%;
}

#divider
{
    width: 0px;
    height: 100%;
    position: absolute;
    left: 50%;

    border-left: 2px dashed white;
    transform: translateX(-50%);
}

.StartGame
{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#StartButton
{
    position: absolute;
    background-color: black;
    color: white;
    z-index: 10;
    width: 25%;
    height: 30%;
    text-align: center;
    font-size: 1.5cqw;
    border-color: white;
    z-index: 9999;
}
.hide
{
    display: none;
}


#game
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    flex-wrap: wrap;
    flex-direction: column;
}

#pong-ball
{
    top: 0;
    left: 0;
    width: 2%;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    background-color: white;

    position: absolute;
}

#paddle1
{
    top: 0;
    width: 2%;
    height: 20%;
    left: 2%;
    background-color: white;

    position: absolute;
}
#paddle2
{
    top: 0;
    width: 2%;
    height: 20%;
    right: 2%;
    background-color: white;

    position: absolute;
}