#scoreboard
{
    width:100%;
    height: 20%;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.score
{
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    font-size: 4cqw;
    margin: 0%;
    font-family: "Univers 49 Light Ultra Condensed";
}
#timers
{
    width:100%;
    height: 6%;
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.timer
{
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.5cqw;
    margin: 0%;
    font-family: "Univers 75 Black";
}
.digitalText
{
    font-family: "DS-Digital";
}
#timerbutton
{
    width: 7%;
    aspect-ratio: 1 / 1;
    top: 0;
    right: 0;
    position: absolute;
    background-color: rgb(168, 168, 168);
    background-image: url(Images/square_button.jpg);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    color: cornsilk;
    text-align: center;
    font-size: 0.8cqw;
    border-color: black;
    z-index: 9999;
    font-family: "Univers 75 Black";
}
#controlsDiv
{
    width:100%;
    height: 8%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.controls
{
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    font-size: 0.9cqw;
    margin: 0;
    font-family: "Univers 75 Black";
}

#mainScreen
{
    width:70vw;
    aspect-ratio: 16 / 9; 
    /*background-color: black;*/
    position: relative;

    left: 0;
    top: 0;
    /*
    border-color: black;
    border-style: solid;
    border-width: 10%;
    */
    outline: medium solid black;
}

#divider
{
    width: 0px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;

    border-left: 0.25vw dashed white;
    transform: translateX(-50%);
}

.StartGame
{
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#StartButton
{
    position: absolute;
    background-color: rgb(168, 168, 168);
    background-image: url(Images/square_button.jpg);
    background-blend-mode: multiply;
    background-position: center center;
    background-size: cover;
    color: cornsilk;
    z-index: 10;
    width: 14%;
    aspect-ratio: 1 / 1;
    text-align: center;
    font-size: 1.5cqw;
    border-color: rgb(0, 0, 0);
    z-index: 9999;
    font-family: "Univers 75 Black";
}
.hide
{
    display: none;
}


#game
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    flex-wrap: wrap;
    flex-direction: column;
}

#pong-ball
{
    top: 0;
    left: 0;
    width: 2%;
    aspect-ratio: 1 / 1; 
    border-radius: 50%;
    

    position: absolute;
    background-color: white;
    background-image: url(Images/Aperture_Science_Logo.svg.png);
    background-position: center center;
    background-size: 100%;
}

#paddle1
{
    top: 0;
    width: 2%;
    height: 20%;
    left: 2%;
    
    background-image: linear-gradient(to right, rgb(0, 55, 255), rgb(0, 166, 255));
    position: absolute;
    border-radius: 5%;
}
#paddle2
{
    top: 0;
    width: 2%;
    height: 20%;
    right: 2%;
    background-image: linear-gradient(to left, rgb(255, 89, 0), rgb(255, 153, 0));

    position: absolute;
    border-radius: 5%;
}

#background1
{
    position: absolute;
    background-image: url(Images/White_wall_tile003c.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: 10vw;
    width: 100%;
    height: 100%;
    z-index: -11;
}

#background2
{
    position: absolute;
    background-image: url(Images/White_wall_tile003f.jpg);
    background-color: rgb(45, 45, 45);
    background-blend-mode: multiply;
    background-position: center center;
    background-repeat: repeat;
    background-size: 10vw;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#ApertureLogo
{
    position: absolute;
    top: 30%;
    left: 18%;
    width: 60%;
    z-index: 0;
    rotate: -22deg;
    opacity: 0.2;
}